/*pré definições globais*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

body {
    background-color: white;
    width: 100%;
    max-height: 1000vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}


#instaworld-wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-bottom: 180px;
    width: 60%;
    height: 750px;
    max-width: 1000vh;
    position: relative;
    margin-top: 25px;    
}


/*definindo e ajustando a imagem ilustrativa e o slogan 
no primeiro container de elemento*/
#astronauta {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    margin-right: 500px;
    margin-top: 7px;
}

#note {
    position: absolute;
    width: 345px;
    height: 50px;
    margin: 39%;
    margin-left: -270px;
    padding: 5px;
    border: 1px black;
}

.text p {
    font-weight: bolder;
    font-size: 25px;
    text-align: left;
    color: #61318dc0;
}


/*ajustando o segundo container de elementos*/
.right {
    display: flex;
    align-items: center; /*horizontal*/
    justify-content: space-around; /* vertical*/
    flex-direction: column;
    width: 68%;
    min-height: 35px;
    margin-bottom: 90px;
    margin-left: 50px;
}

.divgroup { 
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 150%;
    padding: 15px 0;
    border: 1px solid rgb(218, 171, 230);
    margin-top: 20px;
}

.divlogo {
    width: 50%;
    align-items: center;
    justify-content: center;

}

.divlogo img {
    height: 70%;
    text-align: center;
}

.divProfile {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 15px;
}

.divProfile img {
    width: 43%;
    border-radius: 50%;
}

.login {
    background-color: #61318dc0;
    color: white;
    padding: 8px;
    border-radius: 5px;
}

.logout {
    color: #61318dc0;
    margin-top: 15px;
}

.not-account {
    font-size: 14px;
    margin-bottom: 4px;
}

.link {
    color: #8314eb;
    font-weight: bold;
}

/*definições dos botões*/
.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 6px;
}

.divgetapp {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: -255px;
    margin-top: 480px;
}

.app-download {
    height: 38px;
    width: 130px;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url('/img/app.store.png');
}

.app-download:nth-child(2) {
    background-image: url('/img/google_play.png');
}


/*ajustando visualizações da página, para se tornar responsiva*/
@media (max-width: 1200px) {
    .instaworld-wrapper {
        width: 80%;
    }
    .divImg {
        width:55%;
        margin-bottom: 10%;
    }
    .text p {
        font-size: 25px;
    }
    #note { 
        margin-top: 390px;
        margin-right: 390px;
        width: 190px;
    }
}


@media (max-width: 960px) {
    .instaworld-wrapper {
        width: 65%;
    }
    .astronauta, .divImg {
        display: none;
        position: none;
    }
    .note, .text, .text.p {
        display: none;
    }
    .divgetapp {
        margin-right: 255px;
    }
    .divlogo {
        padding-right: 10px;
    }
}


@media (max-width: 490px) {
    .instaworld-wrapper {
        width: 45%;
    }
    .astronauta, .divImg {
        display: none;
        position: none;
    }
    .note, .text, .text.p {
        display: none;
    }
    .divgroup {
        border: transparent;
    }
    .divlogo {
        margin-right: 70px;
    }
    .app-download {
        width: 100px;
        height: 29px;
    }
    .divgetapp {
        margin: 380px 0px 0px -185px;
    }
}
